<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Deathtrap Dungeon</title>

	<meta charset="utf-8"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap.min.css"
	      integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w=" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="styles.css">

	<script src="https://cdn.jsdelivr.net/g/jquery@3.1.1(jquery.js),angularjs@1.5.5(angular.js+angular-animate.js),ngstorage@0.3.11"></script>

</head>
<body>
<div class="game-block deathtrap-dungeon" ng-controller="GamebookController">
	<h2>Deathtrap Dungeon</h2>

	<div ng-controller="SkillsController">
		<input type="button" class="btn btn-info" value="Generate Character" ng-click="generateSkills()"
		       value-revealer="skill-roll"/>

		<h3>Stats (<span class="quality" ng-bind="storage.quality | number:0"></span> / 100%)</h3>

		<table>
			<tr>
				<td>SKILL</td>
				<td class="skill-roll" ng-bind="storage.skill"></td>
			</tr>
			<tr>
				<td>STAMINA</td>
				<td class="skill-roll" ng-bind="storage.stamina"></td>
			</tr>
			<tr>
				<td>LUCK</td>
				<td class="skill-roll" ng-bind="storage.luck"></td>
			</tr>
		</table>
	</div>

	<div class="fight">
		<h3>Fight</h3>

		<input type="button" class="btn btn-info" value="Start fight" ng-click="initializeFight()"
		       ng-disabled="currentStep == 0"/><br/>
		<div char-type="mainChar" ng-controller="CharController">
			<h4 class="title">You</h4>

			<div class="form-row">
				<label>stamina:</label>
				<input type="text" class="single-number" ng-model="char.stamina" ng-if="$parent.currentStep == 0"
				       integer/>
				<span ng-bind="char.stamina" ng-if="$parent.currentStep != 0" class="health"></span>
			</div>

			<div class="form-row">
				<label>skill:</label>
				<input type="text" class="single-number" ng-model="char.skill" ng-if="$parent.currentStep == 0"
				       integer/>
				<span ng-bind="char.skill" ng-if="$parent.currentStep != 0"/>
			</div>

			<div class="form-row">
				<span>roll: </span><b class="fight-value" ng-bind="roll" ng-show="roll"></b>
			</div>
			<div class="form-row">
				<span>Atk. Str.:</span><b class="fight-value" ng-bind="char.attackStrength" ng-show="roll"></b>
			</div>
		</div>

		<div char-type="creature" ng-controller="CharController">

			<h4 class="title">Creature</h4>

			<div class="form-row">
				<label>stamina:</label>
				<input type="text" class="single-number" ng-model="char.stamina" ng-if="$parent.currentStep == 0"
				       integer/>
				<span ng-bind="char.stamina" ng-if="$parent.currentStep != 0" class="health"></span>
			</div>

			<div class="form-row">
				<label>skill:</label>
				<input type="text" class="single-number" ng-model="char.skill" ng-if="$parent.currentStep == 0"
				       integer/>
				<span ng-bind="char.skill" ng-if="$parent.currentStep != 0"/>
			</div>

			<div class="form-row">
				<span>roll: </span><b class="fight-value" ng-bind="roll"></b>
			</div>
			<div class="form-row">
				<span>Atk. Str.:</span> <b class="fight-value" ng-bind="char.attackStrength" ng-show="roll"></b>
			</div>

		</div>

		<div class="form-row">
			<span>Result:</span><span ng-bind="statusMessage()" class="turn-result"
			                          ng-show="statusMessage()"></span>
		</div>
		<div class="form-row">
			<span>Next winning chance:</span><span ng-bind="(winningChance() * 100 | number:2) + '%'"></span>
		</div>

		<div>
			<input type="button" class="btn btn-info" value="Test your luck" ng-click="testLuck($event)"
			       ng-disabled="!mayUseLuck">
			<input type="button" class="btn btn-info" name="next-step" value="Next step" ng-click="nextStep($event);"
			       ng-disabled="battleEnded()">
			<input type="button" class="btn btn-info" value="Flee" ng-disabled="battleEnded()" ng-click="flee()">
		</div>
	</div>
	<div ng-controller="LuckController">
		<h3>Luck test</h3>

		<label>Current luck:</label>


		<input type="text" class="single-number" ng-model="currentLuck" ng-change="clearLuck()" integer/>
		<span class="red reveal" ng-show="roll1">subtracting luck</span>
		<span ng-show="validationError" class="red validation">Luck value required.</span>
		<br/>

		<span>Chance of luck: </span>
		<span ng-bind="(luckProbability(currentLuck) * 100 | number:2)+ '%'"></span><br/>

		<input type="button" class="btn btn-info" value="Test luck" ng-click="testLuck($event)"
		       ng-disabled="!currentLuck"/>
		<span ng-show="roll1" class="reveal">
				{{roll1}} + {{roll2}} = <b>{{roll1 + roll2}} {{comparator}} {{currentLuck + 1}}</b> -
				<b ng-bind="statusMessage()"></b>
			</span>
	</div>
	<div ng-controller="ItemsController">

		<div>
			<h3>Items</h3>
			<textarea ng-model="storage.itemsText"></textarea>
		</div>
		<div>
			<h3>Provisions</h3>
			<textarea ng-model="storage.provisionsText"></textarea>
		</div>
		<div>
			<h3>Potions</h3>
			<textarea ng-model="storage.potionsText"></textarea>
		</div>

	</div>
</div>


<script src="https://cdn.jsdelivr.net/sprintf.js/1.0.3/sprintf.min.js"
        integrity="sha256-4SfOfItcJVeIG5lT3Zxlm/esGCSKEUZDPEgTfS4DJ9A=" crossorigin="anonymous"></script>
<script type="text/javascript" src="main.js"></script>
</body>
</html>