.roll-label {
	display: inline;
	vertical-align: middle;
	width: 150px;
	font-size: large;
}

.roll-button {
	width: 120px;
	margin-bottom: 5px;
}

.skill-roll {
	color: red;
	width: 35px;
}

.max-skill {
	font-weight: 800;
}

.deathtrap-dungeon {
	width: 350px;
}

.red {
	color: red;
}

.fight-value {
	transition: all linear .7s;
}

.fight-value.ng-hide {
	opacity: 0;
}

.value-reveal {
	animation: 1.5s value-reveal-keyframes;
}

.fade-in {
	animation: 1.5s fade-in;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes value-reveal-keyframes {
	from {
		color: rgba(0, 0, 0, 0);
	}
	to {
		color: red;
	}
}

.game-block {
	display: inline-block;
	border: 2px black solid;
    margin: 3px;
    padding: 10px;
}

.quality {
	font-weight: bold;
}

.games {
	display: flex;
}

.fight > [char-type] {
	display: inline-block;
	border: 1px black solid;
	margin-left: -2.5px;
	margin-right: -2.5px;
	width: 50%;
}

input.single-number[type="text"] {
	width: 40px;
}

[char-type] {
	padding: 7px;
}

.form-row {
	display: inline-flex;
	width: 100%;
}


.form-row :nth-child(1) {
	width: 50%;
	text-align: right;
	padding-right: 2.5px;
}

.form-row :nth-child(2) {
	width: 50%;
	padding-left: 2.5px;
}

.fight .title {
	text-align: center;
}

.fight label, .fight input {
    vertical-align: middle;  
}

.creature {
	display: table;
}

td {
	text-align: center;
	font-size: large;
}

table, td, tr {
	border-bottom: 1px solid black;
}