.fight-value {
	transition: all linear .7s;
}

.fight-value.ng-hide {
	opacity: 0;
}

.value-reveal {
	animation: 1.5s value-reveal-keyframes;
}

.fade-in {
	animation: 1.5s fade-in;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes value-reveal-keyframes {
	from {
		color: rgba(0, 0, 0, 0);
	}
	to {
		color: red;
	}
}

.validation.ng-hide, .validation.ng-show {
	transition: 5s;
}

.ng-hide.ng-hide-animate {
	display: none !important;
}
